<html lang="en">

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/posts.css">
    <title> Create a post</title>
</head>

<body>
    <h1>Create a post</h1>
    <%- include('../partials/navbar.ejs') %>

        <br>
        <div class="create-post">
            <form action="/addnewpost" method="POST">
                <div class="formA">
                    <input id='datetime' name='datetime' type='hidden'>
                    <label for="title">Post title:</label>
                    <input type="text" id="title" name="title" required><br><br>
                    <label for="body">Post body:</label>
                    <input type="text" id="body" name="body" required><br><br>
                    <button id="btn">Submit</button>
                    <input type="hidden" value='' id="image" name="image"></textarea><br><br>
                    <input type="hidden" value='0' id="likes" name="likes"></textarea><br><br>

                </div>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>


</html>

<script>
    // $("#btn").click(function(event) {
    // $('#ide').val(100);
    //});
    function time() {
        //const number = new Math.floor(Math.random() * 100);
        // document.getElementById('id').value = number;
        document.getElementById('datetime').value = new Date().toISOString().slice(0, 10); //s1 is the id of html button
    };
    time();
</script>