<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class= "container">
        <%- include('partials/header') %>
    <h1>Posts</h1>
    <div class="posts list">
        <h2>All posts</h2>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <p>mm</p>
                <% }) %>
                    <% } else { %>
                        <p>You did not post anything...</p>
                        <% } %>
    </div>
    <%- include('partials/footer') %>
</div>
</body>

</html>